---
---

@import "{{ site.theme }}";

@media screen and (max-width: 900px) {
  .site-nav {
    position: absolute;
    right: 90px;
  }
}

hr {
  border: 0;
  text-align: center;
  
  &:before {
    content: "\2022 \2022 \2022";
    font-size: 20px;
    color: rgba(0, 0, 0, 0.8);
  }
}
