---
---

@import "{{ site.theme }}";

@media screen and (max-width: 900px) {
  .site-nav {
    position: absolute;
    right: 90px;
  }
}

hr {
  border: 0;
  text-align: center;
  
  &:before {
    content: "\2022     \2022     \2022";
    font-size: 15px;
    color: rgba(0, 0, 0, 0.8);
  }
}

.bgimage {
  /* The image used */
  //background-image: url('{{ site.baseurl }}/assets/images/background_image_1.jpg');
  background-image: url('{{ site.baseurl }}/assets/images/New.png');

  /* Full height */
  //height: 100%;

  /* Center and scale the image nicely */
  //background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.center {
  display:block; 
  margin-left:auto; 
  margin-right:auto;
}

.image-wrapper {
    text-align: center;
    width: 380px;

    .image-caption {
        color: $grey-color;
        margin-top: $spacing-unit / 50;
        font-size: 90%;
    }
}

